<h1 id="tableLabel">Weather forecast</h1>

<p *ngIf="!forecasts"><em>Loading...</em></p>


<form>
  <div class="form-group row">
    <label for="countryCode" class="col-sm-1 col-form-label">Country Code:</label>
    <div class="col-sm-3">
      <input type="text" [(ngModel)]="countryCode" id ="countryCode" name = "countryCode"
             placeholder="US" >
    </div>

    <label for="regionCode" class= "col-sm-1 col-form-label">Region Code:</label>
    <div class ="col-sm-3">
      <input type = "text" [(ngModel)] ="regionCode" id= "regionCode"
             name ="regionCode" placeholder="LA">
    </div>

    <label for = "cityName" class= "col-sm-1 col-form-label">City Name:</label>
    <div class ="col-sm-3">
      <input type = "text" [(ngModel)] ="cityName" id= "cityName"
             name ="cityName" placeholder="Abbeville">
    </div>

    <button type="submit" class="btn btn-primary col-sm-1 ml-auto"
            (click)="getForecasts(countryCode,regionCode, cityName)">Search</button>
  </div>
</form>
<div style="width: 800px"><canvas id='forecasts'></canvas></div>

<div class='mt-5'>
  <button
    type='button'
    class='btn btn-primary mr-2'
    (click)='update(countryCode, regionCode, cityName)'
  >
    Update
  </button>
  <button
    type='button'
    class='btn btn-danger mr-2'
    (click)='delete(countryCode, regionCode, cityName)'
  >
    Delete
  </button>
</div>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
  <tr>
    <th>Date</th>
    <th>Temp. (C)</th>
    <th>Temp. (F)</th>
    <th>Summary</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let forecast of forecasts">
    <td>{{ dateFormatPipe.transform(forecast.date) }}</td>
    <td>{{ ((forecast.temperatureF - 32) * 5 /9).toFixed(2)}} C°</td>
    <td>{{ forecast.temperatureF }} F°</td>
    <td>{{ forecast.summary }}</td>
  </tr>
  </tbody>

</table>
